<div class"login-nav">
<div class"nav-email">
<input type="text" class="form-control" placeholder="Email">
</div>
<div class="nav-password">
<input type="text" class="form-control" placeholder="Password">
<div class="sign-in-btn">
<button type="button" class="btn btn-default navbar-btn">Sign in</button>
</div>
</div>
</div>


<div id="registration_forms" class="login-box">
  <div class="full_form_header">
  <h1><span>Login</span>&nbsp<span>to</span>&nbsp<span>Buoy</span></h1>
  </div>

  <form class="navbar-form navbar-left" role="search">
  <div class="form-group">
  <div class="input-name">
    <input type="text" class="form-control" placeholder="Frist and last name">
    </div>
    <div class="input-email">
    <input type="text" class="form-control" placeholder="Email">
    </div>
    <div class="input-password">
    <input type="text" class="form-control" placeholder="Password">
    </div>
    <div class="sign-up-btn">
    <button type="button" class="btn btn-default navbar-btn">Sign up</button>
    </div>
  </div>
  </div>
  </form>

</div>

